/* Layout: Blog */
.post {
	place-items: normal;
}

div.blog-card {
	max-width: 760px !important;
	width: auto;
	min-height: 128px;
	width: 100%;
	max-width: 760px;
}
.blog-card-container h3,
.blog-card-container p {
	margin: 0;
}

.blog-card-container img {
	margin: 10px 0;
}

.blog-card-header {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
}

.blog-card-header > span{
	font-family: Monocraft;
}

.blog-card-title {
	font-size: 1.5rem;
	width: fit-content;
}

.blog-card-container {
	display: flex;
	flex-flow: column nowrap;
	gap: 1rem;
}