<link rel="stylesheet" lang="scss" href={{ "/css/blog.css" | toAbsoluteUrl }}>
<link rel="stylesheet" lang="scss" href={{ "/css/home.css" | toAbsoluteUrl }}>
<link rel="stylesheet" lang="scss" href={{ "/css/master.css" | toAbsoluteUrl }}>
<link rel="stylesheet" lang="scss" href={{ "/css/post.css" | toAbsoluteUrl }}>