---
import { sanityClient } from "sanity:client";
import toMarkdown from '@sanity/block-content-to-markdown';
import createPreviewContent from '../../utils/previewContent';
import ImageUrlBuilder  from "@sanity/image-url";
import Page from "../../layouts/Page.astro";
import SanityPicture, {setSanityPictureDefaults} from "astro-sanity-picture";

var { slug } = (Astro.params ?? "")
if (slug) slug.replaceAll('/', '');

const post = await sanityClient.fetch(`
  *[_type == "post" && slug.current == "${slug}"]{
    "currentPost": { 
      "slug": slug.current, title, publishedAt, tags
    },
    "previousPost": *[_type == "post" && ^.publishedAt > publishedAt]|order(publishedAt desc)[0]{
      "slug": slug.current,
      "title": title
    },
    "nextPost": *[_type == "post" && ^.publishedAt < publishedAt]|order(publishedAt asc)[0]{
      "slug": slug.current,
      "title": title
    }
  }|order(publishedAt)[0]
`);
// if (!post) return Astro.redirect("/404");

const { currentPost, previousPost, nextPost } = post;
---

<Page title={currentPost.title}>
  <h1>{currentPost.title}</h1>
  <time datetime={new Date(currentPost.publishedAt).toISOString()}>
    {
      new Date(currentPost.publishedAt).toLocaleDateString("fr-FR", {
        year: "numeric",
        month: "short",
        day: "numeric",
      })
    }
  </time>

  <div class="controls">
    {nextPost && (
      <p>
        <strong>Next post</strong>:
        <a class="next" href={'/posts/' + nextPost.slug}>
          { nextPost.title }
        </a>
      </p>
    )}
    {previousPost && (
      <p>
        <strong>Previous post</strong>:
        <a class="previous" href={'/posts/' + previousPost.slug}>
        { previousPost.title }</a>
      </p>
    )}
  </div>
</Page>