/* Layout: Blog */
.blog-card {
    font-family: Monocraft;
    border-image: url("../assets/blog-note-box.png")
      round;
    border-image-slice: 18 14 14 15 fill;
    /* border-image-slice: 15 31 15 27 fill; */
    image-rendering: pixelated;
    border-image-width: 72px 56px 56px 60px;
    box-sizing: border-box;
    padding: 72px 56px 56px 60px;
    max-width: 760px;
    width: auto;
    color: black;
    margin: 0 10px 0 10px;
    min-height: 128px;
    width: 100%;
    max-width: 760px;
}

.blog-links {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 10px 0;
    gap: 35px;
}

.blog-card-container h3, .blog-card-container p {
    margin: 0;
}

.blog-card-container h3 {
    font-family: Monocraft;
    font-size: 1.5rem;
}

.blog-card-container img {
    margin: 10px 0;
}