:root {
	--color-bg: #171232;
	--color-text-main: #000;
	--color-text-header: #fff;
	--color-text-header-unfocus: #ffffffaa;
	--color-primary: #dda15f;
	--color-secondary: #bb6c21;
	--wrapper-height: 85vh;
	--image-max-width: 320px;
	--font-family: 'Lucida Sans';
	--font-family-header: 'Lucida Sans';
}

/* Basic page style resets */
* {
	box-sizing: border-box;
}

[hidden] {
	display: none !important;
}

/* Import fonts */
@font-face {
	font-family: Lucida Sans;
	src: url('https://cdn.glitch.global/4d8e3698-7f10-4664-b851-2c03e329d23a/Lucida%20Sans.ttf?v=1702080180718')
		format('truetype');
}

@font-face {
	font-family: Lucida Sans;
	font-weight: 600;
	src: url('https://cdn.glitch.global/4d8e3698-7f10-4664-b851-2c03e329d23a/lucidasansdemibold.ttf?v=1702080181408')
		format('truetype');
}

@font-face {
	font-family: Lucida Sans;
	font-weight: bold;
	src: url('https://cdn.glitch.global/4d8e3698-7f10-4664-b851-2c03e329d23a/LucidaSans-Bold.otf?v=1702080181017')
		format('opentype');
}

@font-face {
	font-family: Monocraft;
	src: url('https://cdn.glitch.global/4d8e3698-7f10-4664-b851-2c03e329d23a/Monocraft.ttf?v=1714240342061')
		format('truetype');
}

/* Page structure */
body {
	font-family: var(--font-family);
	background-color: #fff;
	margin: 0;
	color: var(--color-text-main);
}

.wrapper {
	min-height: var(--wrapper-height);
	display: flex;
	align-items: center;
	flex-flow: column wrap;
	padding: calc(5rem + 70px) 0 5rem 0;
	color: #000;
	min-height: 100vh;
}

.content {
	max-width: 1100px;
	display: flex;
	align-items: center;
	flex-flow: column wrap;
	gap: 5rem;
}

.wrapper img {
	max-width: 100%;
}

a {
	cursor: pointer;
}

/* Typography */
p {
	margin: 0 10px 1rem 10px;
	line-height: 1.5 !important;
	font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5 {
	margin: 2rem 0;
	font-family: var(--font-family-header);
	font-weight: 600;
	line-height: 1.1;
	color: var(--color-text-main);
}

h1 {
	margin-top: 1rem;
	margin-bottom: 1.75rem;
	font-size: 5rem;
	display: inline-flex;
	color: #2800ff;
}

h2 {
	font-size: 4rem;
}

h3 {
	font-size: 2rem;
}

h4 {
	font-size: 1.5rem;
}

h5 {
	font-size: 1.25rem;
}

small,
.text_small {
	font-size: 0.8rem;
}

ul > li,
ol > li {
	margin-bottom: 0.75rem;
	line-height: 1.5;
	font-size: 1rem;
}

ul {
	padding: 0 0 0 18px;
	margin: 0;
}

ul.no-bullet {
	list-style-type: none;
}

/* Link styles */
a {
	text-decoration: none;
	color: var(--color-text-main);
	border-bottom: solid 1px #000;
	width: fit-content;
}

a.no-style {
	border-bottom: none;
}

.footer > .links > a:hover {
	background: #fff;
	filter: invert(1);
}

/* Title style adjustments */
.title-lg {
	color: var(--color-text-main);
	font-family: Lucida Sans;
	font-style: normal;
	font-weight: bold;
	line-height: 1.5;
}

.title-md {
	font-size: 56px;
}

/* Global markdown style */
.note {
	font-family: Monocraft;
	border-image: url('../assets/note-box-v2.png') round;
	border-image-slice: 13 50 13 36 fill;
	image-rendering: pixelated;
	border-image-width: 52px 200px 52px 144px;
	box-sizing: border-box;
	padding: 70px 60px;
	max-width: 760px;
	width: auto;
	color: black;
	margin: 40px 10px;
}

.note:has(> h4) {
	margin-top: 70px;
}

.note * {
	font-size: 18px;
	line-height: 10px;
}

.note p {
	line-height: 1 !important;
}

.note > h4 {
	font-family: Monocraft;
	border-image: url('../assets/header-note-box-v2.png') round;
	border-image-slice: 2 15 7 fill;
	image-rendering: pixelated;
	border-image-width: 8px 60px 28px;
	box-sizing: border-box;
	padding: 8px 60px 28px 60px;
	width: fit-content;
	margin: 0;
	position: absolute;
	transform: translateY(calc(-38px - 100%)) translateX(-30px);
	font-size: 24px;
	line-height: 26px;
	color: black;
}

/* Header */
#header {
	width: 100%;
	height: 70px;
	background: var(--color-bg);
	flex-direction: row;
	justify-content: center;
	align-items: center;
	display: inline-flex;
	background-color: var(--color-bg);
	color: var(--color-text-header);
	position: fixed;
	z-index: 999;
}

#header a, #footer a {
	border-bottom: none;
}

#header .header-img {
	width: 30px;
	max-width: 100%;
	height: auto;
	cursor: pointer;
}


#header .header-content {
	position: inherit;
	justify-content: center;
	align-items: space-between;
	display: inline-flex;
	flex-flow: row nowrap;
	margin: 0;
	width: 100%;
	position: relative;
}


#header .header-content > * {
	min-width: 250px;
}

#header .title-link {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 15px;
	min-width: 30px;
}

#header .title-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: 20px;
}

#header .title-label {
	font-family: var(--font-family-header);
	font-weight: 600;
	font-size: 1.25rem;
	color: var(--color-text-header);
	text-transform: uppercase;
	text-align: center;
}


#header .header-links {
	justify-content: center;
	align-items: flex-end;
	display: flex;
	width: 100%;
	height: 100%;
}

#header .header-links a {
	color: var(--color-text-header-unfocus);;
	font-weight: 600;
	padding: 25px 30px;
	border-width: 0;
	text-transform: uppercase;
	font-size: 15px;
	text-align: center;
	text-overflow: ellipsis;
    white-space: nowrap;
	height: 70px;
}

#header .header-links a.active {
	color: var(--color-text-header);
 	box-shadow: inset 0 -4px 0 var(--color-text-header);
}

#header .join-container {
	display: flex;
	justify-content: center;
	align-items: end;
	flex-direction: column;
	padding: 0 20px;
}

#header .menu-icon, #header .header-link-join {
	display: none;
}


/* Footer */
#footer {
	display: flex;
	justify-content: space-between;
	margin: 1rem auto 0;
	padding: 1rem 0 0.75rem 0;
	width: 100%;
	flex-wrap: wrap;
	border-top: 1px solid var(--color-text-header);
	width: 100%;
	margin-top: 0px;
	background-color: var(--color-bg);
}

#footer div > a {
	font-family: Lucida Sans;
	font-style: normal;
	font-weight: normal;
	color: var(--color-text-header);
	text-decoration: none;
	border-style: none;
	padding: 10px;
}

#footer li > a {
	padding: 0 0 0 20px;
	color: var(--color-text-header);
	font-size: small;
}

#footer .footer-links, .footer-block {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2.5rem;
	flex-flow: row nowrap;
}

#footer .footer-links {
	width: 100%;
	flex-flow: row wrap;
}

#footer div > a > i.fi {
	font-size: 30px;
}

.invert { filter: invert(100%); }

.list-unstyled {
	list-style: none;
}

ul {
	margin: 0;
	padding: 0;
}

ul.contact-list > li {
	display: flex;
	flex-flow: row nowrap;
    margin-bottom: 0px;
	gap: 5px;
}

ul.contact-list > li > i {
	position: absolute;
}

.helloasso-forms {
	background-color: var(--color-bg);
	padding: 20px;
}

@media screen and (max-width: 975px) {
	.content {
		padding: 0 1rem;
		display: flex;
		align-items: center;
		flex-flow: column wrap;
		gap: 4rem;
	}

	#header .title-label {
		display: none;
	}

	#header .header-content > * {
		min-width: auto;
	}

	#footer .footer-links, .footer-block {
		gap: 1rem;
	}
}

@media screen and (max-width: 750px) {
	#header {
		height: auto;
	}

	#header .title-container {
		padding: 0 75px 0 20px;
		margin: 0;
	}

	#header .title-link {
		width: 100%;
	}

	#header .title-label {
		display: block !important;
		width: 100%;
		text-align: center;
	}

	#menu {
		flex-flow: column wrap !important;
	}

	#header .title-container {
		min-height: 70px;
	}

	#header .title-label {
		display: none;
	}

	#header a.menu-icon {
		display: flex;
		width: auto;
		position: absolute;
		right: 0;
		top: 0;
	}

	#header a.header-link-join {
		justify-content: center;
		align-items: center;
		padding: 0 30px;
	}

	#header .join-container {
		display: none;
	}

	#header .title-container {
		width: 100%;
	}

	#navbar {
		width: auto;
		flex-flow: row wrap;
	}

	#navbar a {
		width: 100%;
		display: none;
		justify-content: center;
		align-items: center;
	}

	#header .header-links a.active {
		color: #000;
		box-shadow: none;
		background-color: var(--color-text-header);
	}

	#navbar.responsive a {
		display: flex !important;
	}

	#footer .footer-links, .footer-block {
		gap: 0;
	}

	#footer .footer-block {
		flex-flow: row wrap;
	}
}