<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
		{% include "meta.njk" %}
    {% block head %}{% endblock %}
    <script src={{ 'js/script.js' | toAbsoluteUrl }}></script>
		{% include "css-bundle.njk" %}
    <link rel="stylesheet" href="https://cdn-uicons.flaticon.com/2.3.0/uicons-brands/css/uicons-brands.css">
  </head>
  <body>
  <main>
    
    <header id="header">
      <img class="header-img" src={{ "/assets/lcd6m_header_logo.png" | toAbsoluteUrl }}>      
      
      <div class="header-content">
        <div class="header-links" id="navbar">
            <a href={{ "/" | toAbsoluteUrl }}>Accueil</a>
            <a href={{ "/blog" | toAbsoluteUrl }}>Blog</a>
            <a href={{ "/about" | toAbsoluteUrl }}>A propos</a>
            <a href={{ "/contact" | toAbsoluteUrl }}>Contact</a>
          </div>
        </div>
    </header>
    
    {# Page or post content will appear here #}
  
    {{ content | safe }}

      <footer id="footer">
        <div class="links">
          <a href="https://www.instagram.com/la_confrerie_d6_maitres/">
            <i class="fi fi-brands-instagram"></i>
          </a>
          <a href="https://www.facebook.com/laconfreried6maitres/">
            <i class="fi fi-brands-facebook"></i>
          </a>
          <a href="https://github.com/atomic-junky/lcd6m-website/">
            <i class="fi fi-brands-github"></i>
          </a>
          <a href="https://www.fontenay.fr/citoyennete-vie-associative/vie-associative/annuaire-des-associations-256/la-confrerie-d6-maitres-lcd6m-3668.html">
            <img height="50px" src={{ "/assets/logo_fontenay.svg" | toAbsoluteUrl }}>
          </a>
        </div>
      </footer>
    
  </main>
   
  </body>
</html>