---
layout: layouts/base.njk
templateClass: tmpl-home
---

{{ content | safe }}

<div class="blog-wrapper">
	<div class="blog-container" id="blog-container">
		{%- for post in posts -%}
			<div class="blog-card">
				{% if post.data.previewImage %}
					<a class="no-style blog-card-image-container" href="{{ post.url | toAbsoluteUrl }}">
						<img class="blog-card-image" src="{{ post.data.previewImage }}" />
					</a>
				{% endif %}
				<div class="blog-card-container">
					{%- if post.data.author -%}
						<div class="blog-card-author">
							<img class="blog-card-author-image" src="{{ post.data.authorImage }}" alt="{{ post.data.author }}" />
							<span class="blog-card-author-name">{{ post.data.author }}</span>
						</div>
					{%- endif -%}
	
					{%- if post.data.tags -%}
					<div class="blog-tag-container">
						{%- for tag in post.data.tags -%}
							{# Console log tag  #}
							{# {% set tag = tag | lower %} #}
							{{ log(tag[0]) }}
								<span class="blog-tag">{{ tag }}</span>
							{%- endfor -%}
						</div>
					{%- endif -%}
					<div class="blog-card-header">
						<h3 class="blog-card-title">{{ post.data.title }}</h3>
						<span> 
							{% set index = posts | length - loop.index + 1 %}
							#{{ index }}
						</span>
					</div>
	
					<p class="blog-card-date">{{ post.data.date | htmlDateString }}</p>
	
					<div class="blog-card-content">
						{{ post.data.previewContent }}
					</div>
					
					<a class="secondary-button read-post-button" href="{{ post.url | toAbsoluteUrl }}">Lire le poste</a>
				</div>
			</div>
		{%- endfor -%}
	</div>
	<div class="blog-container-shadow"></div>
</div>


<script>
	const scrollSpeed = 200;
	const container = document.getElementById("blog-container");
	container.style.scrollBehavior = "smooth";
	container.addEventListener("wheel", function (e) {
		if (e.deltaY > 0) {
			container.scrollLeft += scrollSpeed;
			e.preventDefault();
		}
		else {
			container.scrollLeft -= scrollSpeed;
			e.preventDefault();
		}
	});
</script>