---
layout: layouts/base.njk
templateClass: tmpl-home
---

<div class="wrapper">
	<div class="content">{{ content | safe }}</div>
</div>
<iframe id="haWidget" allowtransparency="true" src="https://www.helloasso.com/associations/lcd6m/adhesions/adhesion-annuelle/widget-bouton" style="width: 100%; height: 70px; border: none;"></iframe>