---
import Page from '../layouts/Page.astro';
import { loadQuery } from "../lib/load-query";
import PortableText from '../components/SanityPortableText.astro';

var { slug } = (Astro.params ?? "")
if (slug) slug.replaceAll('/', '');

let enabled
const referrer = Astro.url.href
if (referrer.includes('preview')) {enabled = 'true'} else {enabled = 'false'}

const { data: page } = await loadQuery({
  query: `*[_type == "page" && slug.current == "${slug}"][0]`,
  params: {},
  enabled,
});

if (!page) {
    Astro.response.status = 404;
    return new Response(null, {
    status: 404,
    statusText: 'Not found'
  });
}
---

<Page title={page.title}>
    {page?.sections?.map((section: any) => (
        <section>
            <div>
                <PortableText value={section.content} />
            </div>
        </section>
    ))}
</Page>
