---
import Page from '../layouts/Page.astro';
---

<Page title="Adhésion">
    <div>
        <h2>Comment s'inscrire ?</h2>
        <p>L'association est ouverte aux <strong>mineurs à partir de 11 ans révolus</strong>. L’adhésion peut se faire soit sur place, soit en ligne via <strong><a href="https://www.helloasso.com/">HelloAsso</a></strong>.</p>
        <p>Avant de devenir membre, vous pouvez participer gratuitement à <strong>quelques sessions d’essai</strong>.</p>
    </div>

    <div>
        <h2>Horaires d'activité</h2>
        <ul>
            <li>
                <p><strong>Vendredi</strong> : 18h – 22h30<br>
                    <em>Lieu : Maison du Citoyen et de la Vie Associative, Fontenay-sous-Bois</em>
                </p>
            </li>
            <li>
                <p><strong>Samedi</strong> : 13h30 – 16h30<br>
                    <em>Lieu : Maison du Citoyen et de la Vie Associative, Fontenay-sous-Bois</em>
                </p>
            </li>
        </ul>
    </div>

    <div>
        <h2>Cotisation Annuelle</h2>
        <ul>
            <li><strong>Adulte</strong> : 35 €</li>
            <li><strong>Tarif réduit</strong> : 20 €<br>
                <em>(mineur, étudiant, personne invalide, chômeur – sur justificatif)</em>
            </li>
            <li><strong>Réduction Fontenaysien.ne</strong> : -5 €</li>
        </ul>
        <h2>Cotisation Trimestrielle</h2>
        <ul>
            <li><strong>Tous profils</strong> : 15 €</li>
        </ul>
    </div>
</Page>