---
import Page from '../layouts/Page.astro';
---

<Page>
    <div>
        <div>
            <p>Bienvenue à <strong>Rokhs &amp; Rôles</strong> association de <strong>jeux de rôles</strong> loi 1901 au
                service de l'imaginaire !</p>
            <p>Notre but est de promouvoir le jeu de rôle au sein de la commune de Fontenay, mais pas que ! Plongez dans
                des aventures extraordinaires guidées par nos talentueux Maîtres du Jeu. Des mondes horrifiques du mythe
                de Cthulhu aux aventures loufoques des terres de Fangh (Naheulbeuk), laissez libre cours à votre
                imagination. Rejoignez notre communauté passionnée et partagez cette incroyable aventure et devenez
                peut-être à votre tour un Maître de Jeu.</p>
            <p>Explorez notre site pour en savoir plus sur nos activités à venir. Rejoignez-nous et laissez votre
                imagination prendre le pouvoir !</p>
            <p>Rokhs &amp; Rôles vous accueille à bras ouverts.</p>
        </div>
        <img src="./assets/lcd6m_banner.jpg">
    </div>
    
    <div>
        <div>
            <p>Le lieu de rendez-vous de l'association se situe a la <strong>Maison du Citoyen et de la Vie
                    Associative</strong> de <strong>Fontenay-sous-bois</strong>.</p>
        </div>

        <div style="width: 100%">
            <iframe width="100%" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
                src="https://maps.google.com/maps?width=100%25&amp;height=400&amp;hl=en&amp;q=Maison%20du%20citoyen%20et%20de%20la%20vie%20associative+(La%20Confrérie%20D6%20Maîtres)&amp;t=p&amp;z=17&amp;ie=UTF8&amp;iwloc=B&amp;output=embed">
            </iframe>
        </div>
    </div>
</Page>