---
import { Card, Badge } from 'accessible-astro-components'
import { capitalizeFirstLetter } from '../utils/helpers';

const {url, title, image, imageUrl, tags, text} = Astro.props;
const ariaProperties = {
    "width": 480,
    "height": 270,
    "url": url,
    "title": title,
    "fullHeight": true,
    "class": "card",
    ...(imageUrl != undefined && { "img": imageUrl }),
    ...(imageUrl == undefined && { "imageComponent": image })
}
---

<Card { ...ariaProperties }>
  {tags && <span slot="meta">
        {tags.map((tag: any) => {
          return (
            <a href={`/category/${tag}`}>
              <Badge isButton size="lg">{capitalizeFirstLetter(tag)}</Badge>
            </a>
          )
        })}
      </span>
  }
  {text}
</Card>

<style is:global>
  .card {
    border-radius: 0.5rem;
    overflow: hidden;
    background: light-dark(hsl(204 20% 94%), hsl(215 25% 15%));
    color: light-dark(hsl(215 25% 27%), hsl(215 25% 89%));
    max-width: 365px;
    width: 100%;
    min-height: 550px;
    max-height: 550px;
  }

  .card:hover {
    box-shadow: none;
  }

  /* .card .image {
    aspect-ratio: 16/9;
    object-fit: cover;
  } */

  .card .content {
    padding: 1rem;
    overflow : hidden;
  }

  .card .title {
    margin-block-start: 0;
    font-size: 1.25rem;
  }
  
  .card .title  h3{
    margin: 0 0 0.75rem 0;
  }

  .card .description {
    overflow: hidden;
    margin: 0;
  }

  .badge {
    letter-spacing: 0.025em;
    z-index: 2;
    background-color: transparent;
    /* color: var(--background); */
  }

  button.badge:focus-visible {
    outline: 2px solid currentColor;
    outline-offset: 2px;
  }
</style>