---
import { Image } from "astro:assets";
import logoHelloasso from '../assets/logo_helloasso.svg';
import logoFontenay from '../assets/logo_fontenay.svg';
import { Icon } from "astro-icon/components";
---


<footer id="footer">
	<div class="footer-links">
		<div class="footer-block">
			<a href="https://www.instagram.com/rokhs_n_roles/">
				<Icon aria-hidden="true" name="lucide:instagram"/>
			</a>
			<a href="https://github.com/atomic-junky/rokhs-n-roles-website/">
				<Icon aria-hidden="true" name="lucide:github"/>
			</a>
			<a href="/blog.xml">
				<Icon aria-hidden="true" name="lucide:rss"/>
				RSS
			</a>
		</div>
		<div class="footer-block">
				
			<a href="https://www.helloasso.com/associations/rokhs-roles">
				<Image src={logoHelloasso} alt="Logo de Helloasso" height={50} />
			</a>
			<a href="https://www.fontenay.fr/citoyennete-vie-associative/vie-associative/annuaire-des-associations-256/rokhs-roles-6977.html">
				<Image class="invert" src={logoFontenay} alt="Logo de la ville de Fontenay" height={50} />
			</a>
		</div>
		
		<div class="footer-block">
		<ul class="list-unstyled list-compact contact-list">
			<li>
       			<Icon aria-hidden="true" name="lucide:mail"/>
				<a href="mailto:rokhsroles@gmail.com">rokhsroles@gmail.com</a>
			</li>
			<li>
       			<Icon aria-hidden="true" name="lucide:map"/>
				<a href="https://www.google.com/maps/place/Maison+du+Citoyen+et+de+la+Vie+Associative/@48.8467252,2.47583,17z/data=!3m1!4b1!4m6!3m5!1s0x47e60d5c4d20aab7:0xc731d5f82b729243!8m2!3d48.8467252!4d2.47583!16s%2Fg%2F11clv634r2?entry=ttu&g_ep=EgoyMDI1MDYwOC4wIKXMDSoASAFQAw%3D%3D">
					16, rue du Révérend-Père Lucien Aubry <br>
					94120 Fontenay-sous-Bois
				</a>
			</li>
		</ul>
		</div>
	</div>
</footer>

<style is:global>
	.footer-block > a {
		display: flex;
		flex-flow: row nowrap;
		justify-content: center;
		align-items: center;
		gap: 0.25rem;
	}

	.footer-block > a > svg {
		width: 2rem;
		height: 2rem;
		font-size: 3rem;
	}

	.footer-block ul {
		margin: 0;
		padding: 0;
	}
</style>