---
import HeaderLink from './HeaderLink.astro';
import JoinButton from './JoinButton.astro';
import { SITE_TITLE } from '../consts';
---

<header id="header">
	<div class="header-content" id="menu">
		<div class="title-container header-left">
		<a class="title-link" href="/">
			<img class="header-img" src="./assets/rnr_logo.svg" alt="">
			<span class="title-label">{SITE_TITLE}</span>
		</a>
		</div>

		<div class="header-links" id="navbar">
			<HeaderLink href="/">Accueil</HeaderLink>
			<HeaderLink href="/adhesion">Adhésion</HeaderLink>
			<HeaderLink href="/infos">Infos</HeaderLink>
			<HeaderLink href="/blog">Blog</HeaderLink>
			<div class="header-link-join">
				<JoinButton />
			</div>
			<a href="javascript:void(0);" class="menu-icon" onclick="toggleMenu()">
				<i class="fi iconoir-menu"></i>
			</a>
		</div>

		<div class="join-container header-right">
			<JoinButton />
		</div>
	</div>
</header>