---
layout: layouts/page.njk
templateClass: tmpl-home
---

<h1 class="postTitle">{{ post.data.title }}</h1>

{{ content | safe }}
<div class="controls">
	{% if prevPost.url %}
	<p>
		<strong>Previous post</strong>:
		<a class="previous" href="{{ prevPost.url | toAbsoluteUrl }}"
			>{{ prevPost.data.title }}</a
		>
	</p>
	{% endif %} {% if nextPost.url %}
	<p>
		<strong>Next post</strong>:
		<a class="next" href="{{ nextPost.url | toAbsoluteUrl }}"
			>{{ nextPost.data.title }}</a
		>
	</p>
	{% endif %}
</div>